<div class="column is-2">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= customer.name %></p>
        </div>
      </div>
    <div class="card-image">
    <figure class="image is-4by5">
      <%= image_tag customer.image %>
    </figure>
    </div>
    <div class="content">
      <p class="subtitle is-6"><%= customer.phone %></p>
      <p class="subtitle is-6"><%= customer.email %></p>
    </div>
    </div>
  </div>
</div>


