<div class="columns is-multiline">
  <%= render @customers %>
</div>
<div class="columns">
  <div class="links">
    <a class="is-block" href="/customers/alphabetized">Alphabetized List</a>
    <a class="is-block" href="/customers/missing_email">Missing Email List</a>
  </div>
</div>

