// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  min-height: 500px;
  margin: 0 20px;
}

.container-cust {
 margin-right: 150px;
}

.is-multiline {
  padding-left: 20px;
}

.subtitle {
  margin-top: 40px;
}

.links {
  padding: 50px;
}